* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  height: 50px;
  background-color: #eee;
  border: 1px solid #999;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.row {
  width: 100%;
  padding: 0 10px;
}

[class^="col-"] {
  padding: 0 10px;
  margin: 20px 0;
  float: left;
}

.col-sm-1 {
  width: 8.33333333%
}

.col-sm-2 {
  width: 16.66666667%
}

.col-sm-3 {
  width: 25%;
}

.col-sm-4 {
  width: 33.33333333%;
}

.col-sm-6 {
  width: 50%;
}

.col-sm-8 {
  width: 66.66666667%
}

.col-sm-12 {
  width: 100%
}

@media (min-width: 769px) {
  .col-md-1 {
    width: 8.33333333%
  }

  .col-md-2 {
    width: 16.66666667%
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-push-4{
    position: relative;
    left:33.33333333%;
  }

  .col-md-pull-6 {
    position: relative;
    right: 50%;
  }
}