
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1476964855'); /* IE9*/
  src: url('iconfont.eot?t=1476964855#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1476964855') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1476964855') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1476964855#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-weixin:before { content: "\e608"; }
.icon-dianhua:before { content: "\e609"; }
.icon-xiazai:before { content: "\e60a"; }
.icon-youxiang:before { content: "\e60b"; }
.icon-dianhua1:before { content: "\e603"; }
.icon-unie61d:before { content: "\e60c"; }
.icon-zhineng:before { content: "\e600"; }
.icon-chuanzhen:before { content: "\e612"; }
.icon-doc:before { content: "\e60d"; }
.icon-arrow1:before { content: "\e60e"; }
.icon-123:before { content: "\e605"; }
.icon-search:before { content: "\e606"; }
.icon-anzhuangbaoguanli:before { content: "\e61e"; }
.icon-shizhong:before { content: "\e61d"; }
.icon-liubianxing:before { content: "\e613"; }
.icon-weizhi:before { content: "\e614"; }
.icon-weizhi1:before { content: "\e60f"; }
.icon-yanjing:before { content: "\e607"; }
.icon-shangou:before { content: "\e601"; }
.icon-renren:before { content: "\e619"; }
.icon-u-arrow3-up:before { content: "\e615"; }
.icon-gongju:before { content: "\e61a"; }
.icon-liubianxing1:before { content: "\e616"; }
.icon-xiaoshumiao:before { content: "\e61b"; }
.icon-chuangxinfuwu:before { content: "\e61c"; }
.icon-jiantou-copy:before { content: "\e610"; }
.icon-jiantou-copy1:before { content: "\e611"; }
.icon-zuoji:before { content: "\e617"; }
.icon-wendang:before { content: "\e618"; }
.icon-jiantou:before { content: "\e604"; }
.icon-yu:before { content: "\e602"; }
