doctype
html
    head
        meta(charset='UTF-8')
        title VUE Example
        link(rel='stylesheet' href='css/main.css')
    body
        script(type='text-x-template' id='grid-template').
            table
                thead
                    tr 
                        th(v-for='key in columns')  



