ul {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
  }
}

$gray-lighter: #f6f6f6;
$red: #e21e1f;

.bg-gray-lighter {
  background-color: #f6f6f6;
}

.inline {
  display: inline;
}

%ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//iconfont
@font-face {
  font-family: 'iconfont';
  src: url('iconfont/iconfont.eot'); /* IE9*/
  src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-style: normal;
  font-size: 16px;
  font-family: "iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

//banner
.banner {
  img {
    max-width: 100%;
  }
}

//navbar-index
header {
  position: relative;

  > .navbar {
    overflow: hidden;
  }
}

.navbar-index {
  background-color: #1b1b1b;

  @media(min-width: 1024px) {
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    border-color: transparent;
    background-color: transparent;
  }

  .navbar-nav {
    @media(max-width: 1023px) {
      margin: 0 -15px;
    }

    > li {
      > a {
        color: #fff;

        &:hover {
          border-color: #fff;
          color: #fff;
        }
      }
    }
  }
}

.navbar-nav {
  @media(min-width: 1024px) {
    margin-right: 30px;
  }

  > li {
    padding: 0 10px 0;

    @media(min-width: 1024px) {
      padding: 34px 0px 30px;
    }
    @media(min-width: 1200px) {
      padding: 34px 18px 30px;
    }

    > a {
      padding: 6px 12px;
      border: 2px solid transparent;
      transition: border .2s ease-in;

      &:hover {
        border-color: #333;
      }
    }
  }
}

.navbar-header {
  margin-left: 10px;

  @media(min-width: 992px) {
    margin-left: 55px;
  }
}

.navbar-collapse {
  @media(min-width: 1024px) {
    float: right;
  }
}

.navbar-brand {
  padding: 30px 0;
}

.navbar-footer {
  .row {
    > div {
      margin-bottom: 30px;
    }
  }
}

.navbar-form {
  position: absolute;
  top: 0;
  right: 55px;

  @media(max-width: 1023px) {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 0;
  }

  .btn {
    line-height: 20px;
  }
  .iconfont {
    cursor: pointer;

    .navbar-index & {
      color: #fff;
    }
  }
}

.search-cls {
  margin-left: 20px;
}

.search-a {
  display: inline-block;
  margin-top: 38px;
  margin-right: 40px;
  text-decoration: none;

  @media(max-width: 1023px) {
    display: none;
  }

  .iconfont {
    font-size: 22px;
  }
  .navbar-index & {
    color: #fff;

    &:hover, &:visited {
      color: #fff;
    }
  }
}

%header-aim-s {
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: scale(1, 1);
}

%header-aim-e {
  opacity: 0;
  transform: scale(0, 0);
}

.navbar-nav > li > a,
.search-a {
  @extend %header-aim-s;

  &.faded {
    @extend %header-aim-e;
  }
}

%form-element {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background-color: transparent;
}

.navbar-form {
  visibility: hidden;
  opacity: 0;
  transition: all .3s linear .2s;
  transform: translateX(40px);

  @media(max-width: 1023px) {
    position: static;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);

    .search-cls {
      display: none;
    }
    .form-control {
      display: inline-block;
      width: 200px;
      vertical-align: middle;
    }
  }

  &.in {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

//products

.title-basic {
  text-align: center;
  font-weight: light;
  font-size: 35px;

  small {
    display: block;
    color: #dfdfdf;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    line-height: 30px;
  }
}

.products {
  .title-basic {
    margin: 60px 0 40px;
  }
}

.product-index {
  .row {
    margin-right: 0;
    margin-left: 0;

    > div {
      padding-right: 0;
      padding-left: 0;
    }
  }
  img {
    max-width: 100%;
  }
  .product-info {
    position: absolute;
    top: 10%;
    left: 10%;

    @media(min-width: 768px) {
      top: 80px;
      left: 80px;

      h3 {
        &:after {
          display: block;
          margin: 16px 0;
          width: 27px;
          height: 2px;
          background: #777;
          content: "";
        }
      }
      section {
        margin-bottom: 45px;
      }
    }

    h3 {
      margin-top: 0;
      margin-bottom: 0;
      color: #333;
      font-weight: bold;
      font-size: 16px;
      line-height: 26px;
    }
    p {
      font-size: 13px;
      line-height: 18px;
    }

  }
  .product-item {
    a {
      display: block;

      &:hover .mask {
        opacity: 1;
        transform: scale(1);
      }
    }
    .mask {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 50px;
      background-color: rgba($red, .7);
      color: #fff;
      opacity: 0;
      transition: all .24s linear;
      transform: scale(0);

      &:before {
        display: block;
        margin-bottom: 15px;
        width: 27px;
        height: 2px;
        background-color: #fff;
        content: "";
      }
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

a.product-more {
  display: block;
  height: 50px;
  background: #333 url(../images/logo_more.png) center no-repeat;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 50px;
  transition: all .3s;

  &:hover {
    box-shadow: 0 4px 8px #d0d0d0;
  }
}

.headline-index {
  position: relative;

  time {
    position: absolute;
    top: 10px;
    left: -10px;
    padding: 10px;
    background-color: $red;
    color: #fff;

    .day {
      display: block;
      font-size: 30px;
    }
  }
  h3 {
    font-size: 18px;
  }
  p {
    margin-bottom: 24px;
  }
}

.more {
  border-bottom: 1px solid $red;
  color: $red;
  text-transform: uppercase;

  .iconfont {
    display: inline-block;
    margin-left: 4px;
    font-weight: lighter;
    font-size: 10px;
    transition: transform .2s;
  }
  &:hover {
    color: $red;

    .iconfont {
      transform: translateX(4px);
    }
  }
}

.news-index {
  .title-basic {
    margin: 60px 0 40px;
  }
  .item {
    margin-bottom: 25px;
    padding-bottom: 25px;
    padding-left: 80px;
    border-bottom: 1px solid rgba(#333, .1);

    time {
      float: left;
      margin-left: -80px;
      text-align: center;
      opacity: .3;

      i {
        display: block;
        font-size: 60px;
        line-height: 1.1;
      }
    }
    h3 {
      overflow: hidden;
      margin-top: 10px;
      color: #333;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
    }
    p {
      color: #888;
    }
  }
  .more-btn {
    display: block;
    margin: 40px auto 70px;
    width: 140px;
    height: 32px;
    border: 2px solid $red;
    color: $red;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    transition: all .2s;

    @media(max-width: 1023px) {
      margin: 0px auto 30px;
    }

    &:hover {
      box-shadow: 1px 1px 5px lighten($red, 25%);
      transform: translateY(2px);
    }
    .iconfont {
      left: 24px;
      font-weight: normal;
      font-size: 14px;
    }
  }
}

.client {
  padding: 70px 0;
}

//footer
.footer-main {
  padding: 20px 0 40px;
  background-color: #333;
  color: #666;
  font-size: 13px;
  line-height: 2;

  @media(min-width: 1024px) {
    padding: 60px 0 80px;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 18px;
    color: #999;
    font-size: 14px;
  }
  a {
    color: #666;

    &:hover {
      color: #b1b1b1;
    }
  }

}

.footer-contact {
  > p {
    color: #999;
    font-weight: bold;
    font-size: 24px;
  }
}

.follow {
  margin-bottom: 18px;
  vertical-align: top;
  line-height: 1.1;
}

.footer-sns {
  a {
    vertical-align: middle;
    font-size: 20px;

    &:hover {
      color: #fff;
    }
  }
  .code-wrap {
    margin-left: 50px;
  }
}

.footer-sns {
  padding-bottom: 14px;
  background: url(../images/sns-bg.png) left 15px bottom no-repeat;
}

.copyright {
  background-color: #222;
  line-height: 44px;
}

.intro-main {
  margin-top: 65px;
  margin-bottom: 80px;

  h1 {
    margin-bottom: 25px;
    color: #333;
    font-size: 35px;

    @media(max-width: 767px) {
      font-size: 24px;
    }
  }
  strong {
    color: #555;
    font-weight: normal;
    font-size: 18px;
  }
  section {
    margin-bottom: 40px;
  }
}

.about-nav {
  font-size: 0;

  > li {
    display: inline-block;
    margin: 0 30px;

    > a {
      display: inline-block;
      padding: 0 40px;
      height: 60px;
      border-top: 2px solid transparent;
      font-size: 18px;
      line-height: 58px;

      &:hover {
        border-color: $red;
        background-color: $gray-lighter;
      }
    }
    &.active {
      > a {
        border-color: $red;
        background-color: $gray-lighter;
      }
    }
    @media(max-width:767px){
      margin:0;
      >a{
        padding:0 14px;
        font-size: 14px;
      }
    }
  }

}

.about-tab {
  .tab-pane {
    height: 500px;
    @media(min-width: 1200px) {
      height: 660px;
    }
  }
  .row {
    > div {
      height: 100%;
      @media(min-width: 1200px) {
        height: 660px;
      }
    }
  }
}

#culture {
  background: url(../images/cultrue_bg.png) center no-repeat;
}

#history {
  background: url(../images/history_bg.png) center no-repeat;
}
.history-wrap{
  position: relative;
  overflow-x: auto;
  height: 100%;
}
.timeline-list{
  height: 100%;
  position: absolute;
  top:0;
  z-index: 1;
  @media(min-width:768px){
    left:50%;
    margin-left: -600px;
  }

}
.timeline-item{
  float: left;
  width: 200px;
  position: relative;
  z-index: 1;
  top:50%;
  transform:translateY(-50%);
  .heading{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 56px;
    height: 56px;
    border: 3px solid #f35a5a;
    border-radius:28px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    transition:all .2s;
/*    &:after{
      position: absolute;
      left:100%;
      width: 145px;
      height: 5px;
      background: linear-gradient(to right,#f35a5a,#ea51a0);
      content:"";
      opacity: .5;
    }*/
    &:hover{
      box-shadow: 0 0 5px #f35a5a;
    }
  }
  .body{
    position: absolute;
    left:0;
    top:100%;
    margin-top: 20px;
    padding: 20px 15px;
    width: 200px;
    background: #fff;
    transition:transform .2s;
    &:before{
      position: absolute;
      left:50%;
      top: -12px;
      margin-left: -10px;
      width: 0;
      height:0;
      border-width: 0 10px 12px 10px;
      border-style:solid;
      border-color: transparent transparent #fff transparent;
      content:"";
    }
    &:hover{
      box-shadow: 2px 2px 6px #d0d0d0;
      transform:translateY(4px);
    }
  }
  &:nth-of-type(even){
    .body{
      top:auto;
      bottom:0;
      margin-bottom: 76px;
      &:before{
        top: auto;
        bottom: -12px;
        border-width: 12px 10px 0 10px;
        border-color: #fff transparent transparent transparent;
      }
      &:hover{
        transform: translateY(-4px);
      }
    }
  }
}


.line-gradient{
  width: 100%;
  height: 5px;
  position: absolute;
  top:50%;
  left:100+28px;
  transform: translateY(-50%);
  opacity: .5;
  background: linear-gradient(to right,#e21e1f 0%,#f55fab,12.5%,#db34c7 25%,#a957df,37.5%,#a957df 50%,#7479d3 62.5%,#3589ca 75%,#36bdc9 87.5%,#40c092 100%);
}

$colorName: color;
$colorList: #e21e1f #f55fab #db34c7 #a957df #7479d3 #3589ca #36bdc9 #40c092;
$colorLength: length($colorList);
  @each $color in $colorList{
    $i: index($colorList,$color);
    .timeline-item:nth-child(#{$i}){
      >.heading{
        border-color:$color;
        color:$color;
        &:hover{
          box-shadow: 0 0 10px lighten($color,5%);
        }
      }
    }
    .timeline-item:nth-child(#{$i+$colorLength}){
      >.heading{
        border-color:$color;
        color:$color;
        &:hover{
          box-shadow: 0 0 10px lighten($color,5%);
        }
      }
    }
    .timeline-item:nth-child(#{$i+$colorLength*2}){
      >.heading{
        border-color:$color;
        color:$color;
        &:hover{
          box-shadow: 0 0 10px lighten($color,5%);
        }
      }
    }
  }

#honor {
  padding-top: 60px;
  background: url(../images/honor_bg.png) center no-repeat;
}

.culture-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 0 15px 2px rgba(#000, .03);
  text-align: center;

  @media(min-width: 1024px) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -110px;
    margin-left: -110px;
    width: 220px;
    height: 220px;
    border-radius: 110px;
  }

  .iconfont {
    display: block;
    color: $red;
    font-size: 64px;
  }
  p {
    font-size: 16px;

    big {
      font-size: 22px;
    }
  }
}

.chart {
  padding: 30px 0;

  @media(min-width: 1024px) {
    padding: 70px 0;
  }

  h2 {
    margin-bottom: 30px;
  }
}

.team {
  padding: 70px 0 90px;
  font-size: 16px;

  h2 {
    margin-top: 0;
    margin-bottom: 55px;
    line-height: 1.5;
  }
  .avatar-wrap {
    margin-bottom: 30px;

    img {
      max-width: 100%;
    }
  }
  .label {
    color: #333;
    font-size: 22px;
  }
  .leader-info {
    margin-bottom: 80px;
  }
}

.partner {
  padding: 50px 0 100px;

  h2 {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.partner-item {
  padding: 20px 0;
  height: 140px;
  text-align: center;
  line-height: 100px;
  transition: box-shadow .2s linear;

  @media(min-width: 992px) {
    width: 20%;
  }

  img {
    max-width: 100%;
  }
  &:hover {
    box-shadow: inset 0 0 0 10px $gray-lighter;
  }
}

.partner-row {
  margin-right: 0;
  margin-left: 0;
  border-top: 1px solid $gray-lighter;
  border-left: 1px solid $gray-lighter;

  > div {
    padding-right: 0;
    padding-left: 0;
    border-right: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
  }
}

.product-nav {
  position: relative;

  @media(min-width: 768px) {
    float: right;

    > li {
      > a {
        display: block;
        padding: 32px 50px 29px;
        font-size: 26px;
      }
    }
  }

  > li {
    > a {
      display: inline-block;
      padding: 16px 20px 16px;
      border: 2px solid #d0d0d0;
      border-top: 0;
      color: #777;
      font-size: 16px;
    }
    &.current {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);

      > a {
        border-color: $red;
        background-color: $red;
        color: #fff;
      }
    }
  }
}

.product-search {
  margin-top: 24px;

  label {
    display: block;
    color: #777;
    font-size: 18px;
  }
  .form-group {
    position: relative;
  }
  .form-control {
    padding-right: 40px;
    border: 2px solid #d0d0d0;
  }
  .btn {
    position: absolute;
    top: 0;
    right: 15px;
    border: 0;
    background-color: transparent;

    &:focus {
      outline: 0;
    }
  }
}

.type-nav {
  display: flex;
  margin-bottom: 20px;
  text-align: center;

  > li {
    position: relative;
    flex: 1;

    &:first-child {
      > a {
        border-left: 1px solid transparent;
      }
    }
    &.active {
      > a {
        background-color: $red;
      }
      &:after {
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -10px;
        border-width: 10px 10px 0 10px;
        border-style: solid;
        border-color: $red transparent transparent transparent;
        content: "";
      }
    }
    > a {
      display: block;
      padding: 20px 0;
      border-left: 1px solid #fff;
      background-color: #777;
      color: #fff;
      font-size: 18px;
      transition: background-color .2s;

      @media(max-width: 767px) {
        padding: 10px 0;
        font-size: 13px;
      }

      &:hover {
        background-color: $red;
      }
    }
  }
  .iconfont {
    margin-right: 6px;
    vertical-align: middle;
    font-size: 26px;

    @media(max-width: 767px) {
      display: none;
    }
  }
}

.list-show {
  margin-bottom: 50px;
  padding: 24px 30px;
  background-color: #f2f2f2;

  h4 {
    color: #333;
    font-size: 18px;
  }
}

.product-list {
  > li {
    line-height: 24px;

    > a {
      &:hover {
        color: $red;
      }
    }
    &.active {
      > a {
        color: $red;
      }
    }
  }
  .iconfont {
    font-size: 10px;
  }
}

.product-show {
  padding-top: 50px;
  padding-bottom: 50px;

  .row {
    margin-right: -8px;
    margin-left: -8px;

    > div {
      margin-bottom: 16px;
      padding-right: 8px;
      padding-left: 8px;
    }
  }
  .item {
    display: block;
    padding: 60px 0;
    background-color: #fff;
    text-align: center;
    transition: all .2s;

    @media(max-width: 991px) {
      padding: 15px 0;
    }

    &:hover {
      box-shadow: 2px 2px 10px #ccc;
      transform: translateY(2px);
    }
    .img-wrap {
      margin-bottom: 20px;
      height: 220px;

      @media(max-width: 992px) {
        height: 110px;

        img {
          max-height: 110px
        }
      }

      img {
        max-width: 100%;
        max-height: 220px;
      }
    }
    h5 {
      @extend %ellipsis;

      &:after {
        display: block;
        margin: 10px auto 30px;
        width: 27px;
        height: 2px;
        background-color: #777;
        content: "";
      }
    }
  }
}

.pagination {
  > li {
    > a {
      margin: 0 10px;
      padding: 0;
      width: 50px;
      height: 50px;
      border-color: transparent;
      background-color: #fff;
      color: #777;
      line-height: 50px;
      transition: all .15s;

      @media(max-width: 767px) {
        margin: 0 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
      }

      &:hover {
        background-color: $red;
        color: #fff;
      }
    }
    &:first-child,
    &:last-child {
      > a {
        background-color: #d0d0d0;
        color: #fff;

        &:hover {
          background-color: $red;
        }
      }
    }
    &.active {
      > a {
        border-color: transparent;
        background-color: $red;
        color: #fff;

        &:hover {
          border-color: transparent;
          background-color: $red;
          color: #fff;
        }
      }
    }
  }
}

.icon-list {
  font-size: 14 vpx;
}

.product-intro {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px 15px;
  background-color: #fff;

  @media(min-width: 768px) {
    padding: 50px 40px;
  }
}

.item-show-list {
  > li {
    > a {
      display: block;
      height: 80px;
      border: 2px solid #d0d0d0;
    }
    &.active {
      > a {
        border-color: $red;
      }
    }
  }
}

.show-slider {
  position: relative;
  margin-bottom: 30px;

  @media(min-width: 1024px) {
    float: left;
    margin-bottom: 0;
  }
}

.show-control {
  > div {
    position: absolute;
    top: 50%;
    margin-top: -12px;

    > a {
      color: #d0d0d0;

      &:hover {
        color: #777;
      }
      &.disabled {
        color: #eee;
      }
    }
    &.show-prev {
      left: -20px;
    }
    &.show-next {
      right: -20px;
    }
  }
}

.product-intro-info {
  h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
    font-size: 20px;
  }
  h2 {
    color: #333;
    font-weight: bold;
    font-size: 14px;
  }
}

.back2list {
  border-bottom: 1px solid #777;
  color: #777;

  &:hover {
    border-bottom: 1px solid $red;
    color: $red;
  }
  .iconfont {
    font-size: 10px;
  }
}

.hotline {
  margin-bottom: 20px;

  strong {
    color: $red;
    font-size: 18px;

    @media(min-width: 768px) {
      font-size: 30px;
    }
  }
}

.contact-btn {
  .iconfont {
    margin-right: 10px;
  }
}

.intro-nav {
  font-size: 0;

  @media(max-width: 767px) {
    clear: both;
    padding-top: 15px;
  }

  > li {
    display: inline-block;
    margin-left: -1px;
    border-top: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;

    > a {
      display: inline-block;
      padding: 16px 40px;
      border-top: 1px solid transparent;
      font-size: 18px;
    }
    &.active {
      border-top-color: $red;
      border-right-color: #fff;

      > a {
        border-top-color: $red;
        background-color: #fff;
      }
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

.intro-detail-show {
  padding: 30px;
  border: 1px solid #d0d0d0;

  img {
    max-width: 100%;
  }
}

#parameter {
  h3 {
    color: #333;
    font-weight: bold;
    font-size: 18px;

    &:after {
      display: block;
      margin: 16px 0;
      width: 27px;
      height: 2px;
      background-color: $red;
      content: "";
    }
  }
  h4 {
    color: #333;
    font-weight: bold;
    font-size: 14px;
  }
  .label {
    color: #333;
  }
}

.title-commend {
  font-size: 18px;
}

.commend-list {
  > li {
    float: left;
  }
  img {
    margin-right: auto;
    margin-left: auto;
  }
  .item {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
    text-align: center;

    h4 {
      margin-top: 30px;
      color: #333;
      font-size: 16px;
    }
  }
}

.product-intro-detail {
  margin-bottom: 50px;
}

.product-recommend {
  position: relative;
  margin-bottom: 80px;
}

.commend-control {
  position: absolute;
  top: 0;
  right: 0;

  > div {
    display: inline-block;

    > a {
      padding: 0 5px;
      color: #d0d0d0;

      &:hover {
        color: #777;
      }
    }
  }
}

.destination {
  padding-top: 30px;
  padding-bottom: 20px;
  max-width: 910px;
  width: 100%;

  @media(min-width: 1024px) {
    padding-top: 80px;
    padding-bottom: 70px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
    font-weight: normal;
    font-size: 35px;
  }
}

.responsibility-row {
  h3 {
    margin-top: 20px;
    color: #333;
    font-size: 18px;

    @media(min-width: 1024px) {
      margin-top: 70px;
      font-size: 24 ox;

      &:after {
        margin: 20px 0 45px;
      }
    }

    &:after {
      display: block;
      margin: 10px 0 25px;
      width: 27px;
      height: 2px;
      background-color: #d0d0d0;
      content: "";
    }
  }
  p {
    line-height: 24px;
  }
  .row {
    margin-right: 0;
    margin-left: 0;

    > div {
      padding-right: 0;
      padding-left: 0;
    }
  }
  > section {
    @media(min-width: 1024px) {
      &:first-child {
        background: linear-gradient(to right, #fff 50%, #efefef 50%, #efefef 100%);
      }
      &:last-child {
        background: linear-gradient(to right, #efefef 50%, #fff 50%, #fff 100%);
      }
    }

    &:first-child {
      background: #efefef;
    }
    &:last-child {
      background: #efefef;
    }
  }
}

.section-content {
  padding-right: 50px;
  padding-bottom: 20px;

  @media(max-width: 767px) {
    padding-right: 0;

;
    &:nth-of-type(odd) {
      padding-left: 0px;
    }
  }

  &:nth-of-type(odd) {
    padding-left: 50px;
  }
}

.news {
  padding-top: 80px;

  @media(max-width: 767px) {
    padding-top: 20px;
  }
}

.news-classify {
  margin-bottom: 50px;

  > li {
    display: inline-block;

    @media(max-width: 767px) {
      display: block;

      > a {
        display: block;
      }
    }

    > a {
      display: inline-block;
      margin: 0 24px;
      padding: 18px 36px;
      background-color: #fff;
      font-size: 18px;
      transition: all .1s;

      &:hover {
        background-color: $red;
        color: #fff;
      }
    }
    &.active {
      > a {
        background-color: $red;
        color: #fff;
      }
    }
  }

}

.headline-main {
  margin-bottom: 30px;
  background: #fff;

  h2 {
    @extend %ellipsis;

    margin-top: 55px;
    margin-bottom: 10px;
    font-size: 20px;

    > a {
      color: #333;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  p {
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 22px;
  }
}

.headline-body {
  padding-right: 30px;

  @media(max-width: 767px) {
    padding-right: 15px;
    padding-left: 15px;
  }

  time {
    color: #d0d0d0;
  }
}

.news-list {
  .row {
    margin-right: -8px;
    margin-left: -8px;

    > div {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
}

.news-item {
  margin-bottom: 30px;

  > a {
    display: block;
    overflow: hidden;

    img {
      transition: transform .2s;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
      .item-intro {
        background-color: $red;
        color: #fff;
      }
      h3 {
        color: #fff;
      }
    }
  }
  .item-intro {
    padding: 20px;
    background-color: #fff;
    transition: all .2s;
  }
  h3 {
    @extend %ellipsis;

    margin-top: 0;
    color: #333;
    font-size: 16px;
    transition: all .2s;
  }
  p {
    overflow: hidden;
    margin-bottom: 20px;
    height: 40px;
    font-size: 13px;
    line-height: 20px;
  }
}

.news-detail {
  padding-bottom: 70px;
  background: #f6f6f6 url(../images/newsdetail_bg.png) center top no-repeat;
}

.news-title {
  margin-top: 65px;

  time {
    font-size: 26px;
  }
  h1 {
    color: #fff;
    font-size: 22px;

    &:after {
      display: block;
      margin: 30px auto 50px;
      width: 27px;
      height: 2px;
      background: #fff;
      content: "";
    }
  }
}

.news-main {
  margin-bottom: 50px;
  padding: 60px;
  background: #fff;

  @media(max-width: 767px) {
    padding: 15px;
  }

  img {
    margin-bottom: 35px;
  }
  p {
    margin-bottom: 18px;
  }
}

.banner {
  position: relative;
}

.banner-control {
  > div {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 60px;
    font-size: 40px;
    transition: left .2s, right .2s;

    > a {
      display: block;
      color: #fff;
    }
    &.banner-prev {
      left: 40px;
      transform: rotate(-90deg);

      &:hover {
        left: 30px;
      }
    }
    &.banner-next {
      right: 40px;
      transform: rotate(90deg);

      &:hover {
        right: 30px;
      }
    }
  }
}

.hire-page {
  font-size: 14px;
  line-height: 1.6;

  h2 {
    margin-top: 0;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
    font-weight: normal;
    font-size: 35px;
  }
  .list-heading {
    i {
      color: #d0d0d0;
      font-style: normal;
      font-size: 50px;
    }
    span {
      display: inline-block;
      margin-left: -20px;
      background-color: #fff;
      font-size: 18px;
    }
  }
  .bg-gray-lighter {
    .list-heading {
      span {
        background-color: $gray-lighter;
      }
    }
  }
}

.development {
  padding: 30px 0 50px;

  @media(min-width: 1024px) {
    padding: 70px 0 90px;
  }
}

.compensation-text {
  @media(min-width: 1024px) {
    padding-right: 30px;
    width: 50%;
  }
}

.compensation-2 {
  margin-top: -50px;
}

.compensation-3 {
  position: relative;
  z-index: 1;
  float: right;
  margin-top: -120px;
}

.compensation {
  padding:30px 0;

  @media(min-width: 1024px) {
    padding: 70px 0;
  }
}

.hire {
  background: url(../images/hire_bg.png) center top no-repeat;

  @media(min-width: 1024px) {
    padding: 60px 0 80px;
    height: 875px;
  }
}

.hire-main {
  padding: 50px;
  background-color: #fff;
}

.hire-nav {
  margin-bottom: 25px;
  font-size: 0;

  > li {
    display: inline-block;

    > a {
      display: inline-block;
      margin-right: 10px;
      padding: 10px 20px;
      color: #777777;
      font-size: 18px;
      transition: all .2s;

      &:hover {
        background-color: $red;
        color: #fff;
      }
    }
    &.active {
      > a {
        background-color: $red;
        color: #fff;
      }
    }
  }
}

.hire-content {
  margin-bottom: 35px;
}

.job-list{
  margin-right: -15px;
  margin-left: -15px;
}
.job-item{
  float: left;
  padding:0 15px 15px;
  width: 280px;
}

.job-intro {
  position: relative;
  overflow: auto;
  margin-bottom: 25px;
  height: 320px;

  .job-heading {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #d7d7d7;
    color: #333;
    font-size: 16px;
  }
  .job-label {
    color: #333;
  }
  p {
    margin-bottom: 14px;
  }
}

.hire-tips {
  color: #d0d0d0;
  font-size: 12px;
  line-height: 21px;

  ol {
    margin: 0 0 0 12px;
    padding: 0;
  }
  p {
    color: #777;
  }
}

.contact {
  padding:20px 0 30px;

  @media(min-width: 1024px) {
    padding: 60px 0 70px;
  }
}

a.mail-to {
  padding: 12px 20px;
  border: 2px solid $red;
  color: $red;
  transition: all .2s;

  &:hover {
    box-shadow: 1px 2px 5px lighten($red, 15%);
    transform: translateY(1px);
  }
}

.code{
  @media(min-width:1024px){
    text-align: center;
  }
}
.mail2 {
  @media(min-width:1024px){
    text-align: right;
  }

  p {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 28px;
  }
}

.contact-main {
  padding:35px 0 40px;

  @media(min-width: 1024px) {
    padding: 75px 0 80px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 40px;
    color: #333;
    font-size: 35px;
  }
}

.contact-detail {
  font-size: 16px;

  dt {
    margin-bottom: 6px;
    color: #777;
    font-weight: normal;
  }
  dd {
    margin-bottom: 14px;
    color: #333;
  }
  .iconfont {
    margin-right: 5px;
  }
}

.message-form {
  textarea {
    height: 180px;
    resize: none;
  }
  .form-control {
    margin-bottom: 16px;
  }
  .btn-default {
    padding: 11px 45px 12px;
    border: 0;
    background-color: #777;
    color: #fff;
    font-size: 18px;
    transition: all .2s;

    &:hover {
      background-color: darken(#777, 10%);
      box-shadow: 1px 2px 5px lighten(#777, 15%);
      transform: translateY(2px);
    }
  }
}

#map {
  width: 100%;
  height: 700px;
}

.download-warning {
  margin-top: 45px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;

  @media(min-width:1024px){
    margin-top: 75px;
    margin-bottom: 45px;
  }
}

.download-list {
  > li {
    margin-bottom: 15px;

    > a {
      position: relative;
      display: block;
      padding: 20px 100px 20px 30px;
      background-color: #fff;
      color: #666;
      font-size: 15px;
      line-height: 28px;
      transition: all .2s;

      .iconfont {
        margin-right: 24px;
        color: #cbcbcb;
        font-size: 20px;
      }
      .time,
      .size {
        margin: 0 10px;
      }
      .icon-wrap {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100%;
        transition: all .2s;

        .iconfont {
          margin: 0;
        }
      }
      &:hover {
        background-color: $red;
        color: #fff;

        .icon-wrap {
          background-color: #cc1b1c;
        }
        .iconfont {
          color: #fff;
        }
        .time {
          color: rgba(#666, .5);
        }
      }
    }
  }
}

.download-left{
  @extend %ellipsis;

  @media(min-width:1024px){
    float: left;
  }
}

.download-right{
  @media(min-width:1024px){
    float: right;
  }
}